# Flask Python Backend .gitignore

# macOS
.DS_Store
.localized

# Python
*.pyc
*.swp
*~
__pycache__
.env
venv/

# Environment
.flaskenv

# Testing
.pytest_cache/
htmlcov/
.coverage

# PyCharm
.idea/

# macOS / Linux specific files
.venv

# VS Code
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log